deploy/api/products/logicapp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "string",
      "metadata": {
        "description": "Location for all resources."
      }
    }
  },
  "variables": {
    "logicAppName": "web-handler"
  },
  "resources": [
    {
      "name": "web-handler",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "address": {
                      "properties": {
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "postalCode": {
                          "type": "string"
                        },
                        "street": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "Condition": {
              "actions": {
                "Response": {
                  "runAfter": {
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "body": {
                      "summary": "User validated succesfully"
                    },
                    "headers": {
                      "X-UserValidation": "1"
                    },
                    "statusCode": 200
                  }
                }
              },
              "runAfter": {
              },
              "else": {
                "actions": {
                  "Response_2": {
                    "runAfter": {
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "body": {
                        "summary": "Validation failed"
                      },
                      "headers": {
                        "X-UserValidation": "0"
                      },
                      "statusCode": 200
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['address']?['postalCode']",
                      "12345"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "outputs": {
          }
        },
        "parameters": {
        }
      }
    }
  ],
  "outputs": {
    "logicApp": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', 'web-handler')]"
    },
    "sig": {
      "type": "string",
      "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '/triggers/manual'), '2019-05-01').queries.sig]"
    },
    "endpoint": {
      "type": "string",
      "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '/triggers/manual'), '2019-05-01').basePath]"
    }
  }
}
